@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$light-color:#fff;
$accent-color: #65e496;
$bg-light-color: #f5f6fa;
$bg-dark-color: #44444f;

body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
}
h3 {
    font-size: 24px;
}
.wrap {
    max-width: 1170px;
    margin: 0 auto;
}
.page-main {
    background-image: url(../img/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 157px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 178px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/svg/Logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
                
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            text-decoration: none;
            color: $light-color;
            letter-spacing: 0.5px;
        }
    }
}
.block-text {
    flex-basis: calc(100% - 500px);
    &-down {
        margin-top: -20px;
    }
    &__name {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        letter-spacing: 0.7px;
        margin-bottom: 43px;
        margin-top: 0;
    }
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 40px;
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            margin-top: 24px;
            letter-spacing: 0.9px;
        }
    }
    &__description {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 28px;
        letter-spacing: 0.76px;
        max-width: 86%;
    }
    &__btn {
        display: block;
        background: linear-gradient(to top left, #65e49c, #65e4af);
        box-shadow: 0 -2px #59ba88 inset;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        margin-top: 48px;
        padding: 13px 0;
        letter-spacing: 0.7px;
        margin-bottom: 14px;
        font-size: 18px;
    }
    &__name_top {
        margin-top: 14px;
        margin-left: 0;
        margin-bottom: 36px;
    }
    small {
        font-style: italic;
    }
    &-item {
        &__date {
            font-size: 15px;
            letter-spacing: 0.6px;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 0;
        }
        &__title {
            font-size: 18px;
            letter-spacing: 0.8px;
        }
        &__desc {
            font-size: 15px;
            letter-spacing: 0.75px;
            font-family: 'Open Sans', sans-serif;
        }
        &__btn {
            display: block;
            background: linear-gradient(to top left, #65e49c, #65e4af);
            box-shadow: 0 -2px #59ba88 inset;
            color: $light-color;
            text-decoration: none;
            max-width: 136px;
            border-radius: 3px;
            text-align: center;
            margin-top: 24px;
            padding: 13px 0;
            letter-spacing: 0.7px;
            margin-bottom: 62px;
            font-size: 18px;
        }
    }
}
.block-book {
    display: flex;
    justify-content: space-between;
    &-demo {
        display: block;
        position: relative;
        width: 445px;
        height: 643px;
        background-image: url(../img/svg/Book.svg);
        background-repeat: no-repeat;
        flex-basis: 445px;
        &__title {
            font-size: 36px;
            text-transform: uppercase;
            position: absolute;
            right: 91px;
            top: 118px;
            letter-spacing: 1.2px;
            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                color: $accent-color;
                display: block;
                text-transform: initial;
                font-weight: normal;
                margin-top: 10px;
                letter-spacing: 0.6px;
            }
        }
        &__author {
                position: absolute;
                bottom: 42px;
                left: 87px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                letter-spacing: 0.7px;
                color: $accent-color;
        }
    }
}
.page {
    padding-top: 161px;
    padding-bottom: 145px;
    &_gray {
        background-color: $bg-light-color;
    }
    &__title {
        font-size: 48px;
        text-align: center;
        letter-spacing: 2px;
        color: $bg-dark-color;
    }
    &__subtitle {
        color: $accent-color;
        text-align: center;
        font-size: 16px;
        margin-bottom: 81px;
        margin-top: 24px;
        letter-spacing: 1.8px;
    }
}
.block-author {
    display: flex;
    justify-content: space-between;
}
.block-author {
    &__btn-read {
        display: block;
        background: linear-gradient(to top left, #65e49c, #65e4af);
        box-shadow: 0 -2px #b2f1be inset;
        color: #fff;
        text-decoration: none;
        max-width: 240px;
        border-radius: 3px;
        text-align: center;
        margin-top: 46px;
        padding: 13px 0;
        letter-spacing: 0.75px;
        margin-bottom: 14px;
        font-size: 18px;
    }
}
.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1;
        &-left {
            right: 165px;
        }
    }
    &__img {
        margin-top: 47px;
        margin-right: 44px;
        &-left {
            margin-left: 59px;
            margin-right: 110px;
        }
    }
}
.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 195px;
    p {
        font-family: 'Open Sans', serif;
        text-align: center;
        font-size: 18px;
        span {
            font-family: 'Roboto Slab', serif;
            display: block;
            font-size: 80px;
            font-weight: 100;
            color: $accent-color;
            margin-bottom: 44px;
        }
    }
}
.block-about {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    h3 {
        margin-bottom: 23px;
        letter-spacing: 1.2px;
    }
    p {
        font-family: 'Open Sans', serif;
    }
    &-text {
        flex-basis: 41%;
        letter-spacing: 0.75px;
        &_social {
            font-size: 18px;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-top: -5px;
            letter-spacing: 1px;
            p {
                font-family: 'Roboto Slab', serif;
                font-weight: bold;
            }
            ul {
                margin-left: 23px;
                li {
                    display: inline-block;
                    margin-right: 10px;
                    a {
                        color: $accent-color;
                    }
                }
            }
            
        }
    }
    &-table {
        flex-basis: 49%;
        &__list {
            margin: 0;
            padding: 5px 0 28px 0;
            counter-reset: list;
            column-count: 2;
            &>li {
                position: relative;
                padding-left: 36px;
                counter-increment: list;
                list-style-type: none;
                padding-bottom: 9.8px;
                font-family: 'Open Sans', serif;
                letter-spacing: 0.7px;
                line-height: 22px;
                &::before {
                    content: counter(list) ". ";
                }
                &::after {
                    content: "+";
                    position: absolute;
                    left: 0;
                    line-height: 22px;
                    color: $light-color;
                    background-color: #5fc9b3;
                    padding: 0 7px;
                    font-family: 'Open Sans', serif;
                }
            }
        }
        button {
            padding: 15px 45px;
            font-size: 18px;
            color: $light-color;
            background: linear-gradient(to top left, #65e49c, #65e4af);
            box-shadow: 0 -2px #b2f1be inset;
            border: none;
            border-radius: 3px;
        }
    }
}
.books-list {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', serif;
    padding-top: 5px;
    &__item {
        display: flex;
        flex-direction: column;
        flex-basis: 32%;
        align-items: center;
        .block-book-mini {
            background-image: url(../img/svg/book-main.svg);
            width: 268px;
            height: 409px;
            margin-bottom: 34px;
            position: relative;
            h3 {
                position: absolute;
                text-transform: uppercase;
                left: 73px;
                top: 70px;
                color: $light-color
            }
            span {
                position: absolute;
                text-transform: none;
                font-family: 'Open Sans', serif;
                font-size: 12px;
                letter-spacing: 0.6px;
                left: 67px;
                top: 100px;
                color: $accent-color;
            }
            p {
                position: absolute;
                bottom: 16px;
                left: 78px;
                font-size: 12px;
                color: $accent-color;
            }
        }
        p {
            max-width: 84%;
            letter-spacing: 0.7px;
            line-height: 25px;
            text-align: center;
        }
        h3 {
            font-family: 'Roboto Slab', serif;
            letter-spacing: 1px;
        }
        span {
            display: block;
            text-transform: uppercase;
            a {
                text-decoration: none;
                color: $accent-color;
                font-weight: bold;
            }
        }
    }
}

.all-books {
    display: block;
    margin: 0 auto;
    background: linear-gradient(to top left, #65e49c, #65e4af);
    box-shadow: 0 -2px #b2f1be inset;
    max-width: 220px;
    border-radius: 3px;
    text-align: center;
    margin-top: 84px;
    padding: 13px 0;
    letter-spacing: 0.75px;
    margin-bottom: 14px;
    font-size: 18px;
    text-align: center;
    a {
        color: #fff;
        text-decoration: none;
    }
}
